<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="../icon/favicon.ico">
	<title>WIFI Connection</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link href="../css/mui.css" rel="stylesheet" />
	<link rel="stylesheet" href="../css/style.css">
</head>

<body>
	<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
		<div class="mui-login">
			<div class="wifi-icon">
				<span class="GRP-icon-wifi"></span>
			</div>
			<h2 class="mui-title">Wi-Fi Connection</h2>
			<div class="mui-input-group">
				<div class="mui-input-row">
					<input id="ssid" class="mui-input-clear" type="text" placeholder="Enter SSID"/>
				</div>

				<div class="mui-input-row">
					<input id="pwd" class="mui-input-password" type="text" placeholder="Enter password" />
				</div>

				<div class="mui-input-row mui-input-row-select">
					<select style="" id="authenticationSelect">
						<option value="8">AUTO</option>
						<option value="0">OPEN</option>
						<option value="6" selected>WPA2</option>
						<option value="11">WPA3</option>
					</select>
				</div>
			</div>

			<button type="button" class="mui-btn mui-btn-confirm" id="validation">Connection</button>
		</div>
		<div id="scanQR">
			<span class="GRP-icon-Scan-QRCode scan-QRCode" ></span>
		</div>
	</div>

	<script type="text/javascript" src="../mui/mui.js"></script>
	<script type="text/javascript" src="../js/connection.js"></script>
</body>
</html>
