<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../icons/favicon.ico">
    <title>Wi-Fi connecting</title>
    <link rel="stylesheet" href="../css/mui.css" >
    <link rel="stylesheet" href="../css/connecting.css">
</head>
<body>
<div id="container">
    <div class="layout-bg GRP-icon-connect">
        <div class="connecting-area">
            <div class="loading-top">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="loading-top-line">
                <div class="top-line-1"></div>
                <div class="top-line-2"></div>
            </div>

            <div class="loading-bottom">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="loading-bottom-line">
                <div class="bottom-line-1"></div>
                <div class="bottom-line-2"></div>
            </div>
        </div>
    </div>

    <div class="layout-content">
        <div class="layout-title-head"></div>
        <div class="layout-title-content"></div>
    </div>
</div>

<script type="text/javascript" src="../locale/locale.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
<script type="text/javascript" src="../js/connecting.js"></script>
</body>
</html>
