<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/icon/favicon.ico">
    <title>Scan QRcode</title>
    <link href="../css/mui.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/scan.css">
</head>
<body>

<div class="mui-content mui-scroll-wrapper" id="app">
    <div data-v-54797cb0="" class="scan">
        <div data-v-54797cb0="" class="nav">
            <a data-v-54797cb0="" class="close mui-action-back"></a>
            <p data-v-54797cb0="" class="title">Scan QRcode</p>
        </div>
        <div data-v-54797cb0="" class="scroll-container">
            <div data-v-bce73052="" data-v-54797cb0="" class="scaner" stop-on-scanned="true" draw-on-found="true">
                <div data-v-bce73052="" class="banner">
                    <i data-v-bce73052="" class="close_icon"></i>
                    <p data-v-bce73052="" class="text">若当前浏览器无法扫码，请切换其他浏览器尝试</p>
                </div>

                <div data-v-bce73052="" class="cover">
                    <p data-v-bce73052="" class="line"></p>
                    <span data-v-bce73052="" class="square top left"></span>
                    <span data-v-bce73052="" class="square top right"></span>
                    <span data-v-bce73052="" class="square bottom right"></span>
                    <span data-v-bce73052="" class="square bottom left"></span>
                    <p data-v-bce73052="" class="tips">将二维码放入框内，即可自动扫描</p>
                </div>

                <video data-v-bce73052="" width="375" height="619" controls="controls" class="source" id="scan-video" style="display: none;"></video>
                <canvas data-v-bce73052="" id="scan-canvas"></canvas>
                <button data-v-bce73052="" style="display: none;">开始</button>

                <div id="output" hidden>
                    <div id="outputMessage">No QR code detected.</div>
                    <div hidden><b>Data:</b> <span id="outputData"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../public/mui.js"></script>
<script type="text/javascript" src="../public/jsQR.js"></script>
<script type="text/javascript" src="../js/scanner.js"></script>
</body>
</html>
